.card {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 400px;
  padding: 1rem;
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card__body {
  padding-top: 1rem;
}
