body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', sans-serif;
}
:root {
  --border-color: #272536;
  --maroon: 	#a82028;
  --pink: #c85048;
  --grey: #a8b8c8;
  --text-color: #304160;
  --background: #29335C;
  --white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional, but highly recommended for consistent box model behavior */
}

h3 {
  margin: 0;
}

.arena {
  width: 100%;;
  min-height: 100vh;
  padding: 15px;
}


.arena__container {
  max-width: 1400px;
  margin: 0 auto;
}

.hand {
  display: flex;
  justify-content: space-evenly;
}

